@using Sandbox;
@using Sandbox.UI;

@namespace Sauna
@inherits Panel
@attribute [StyleSheet]

<root>
	<label class="name dark">@PassportPanel.Fullname</label>

	<div class="weight">
		<div class="text">
			<label class="light">WEIGHT, KG</label>
			<label class="dark">@(_weight) KG</label>
		</div>
		<slider 
			class="slider"
			minimum=@(60) maximum=@(125) default=@(_weight) 
			@onvalueset=@(value => {
				_weight = (int)value.Value;
				Weight = MathX.Remap( (float)_weight, 60, 125, 0, 1 );
				Model.Morphs.Set( "fat", Weight );
				Model.Update( Time.Delta );
			})
		/>
	</div>

	<div class="skin-color">
		<div class="text">
			<label class="light">SKIN COLOR</label>
		</div>

		<div class="colors">
			@foreach ( var color in _skinColors )
			{
				<div 
					class="color @(SkinColor == color ? "selected" : "")"
					onclick=@(() => {
						SkinColor = color;
						Model.Attributes.Set( "g_flColorTint", SkinColor );
						CreatorOverlay.PlayUISound( "press" );
					})
				>
					<div class="inner" style="background-color: @(color.Hex)" />
				</div>
			}
		</div>
	</div>

	<div class="height">
		<div class="text">
			<label class="light">HEIGHT, CM</label>
			<label class="dark">@(_height) CM</label>
		</div>
		<slider 
			class="slider"
			minimum=@(150) maximum=@(195) default=@(_height) 
			@onvalueset=@(value => {
				_height = (int)value.Value;
				Height = MathX.Remap( (float)_height, 150, 195, -90, 80 );
				Model.SetAnimParameter( "height", Height );
				Model.Update( Time.Delta );
			})
		/>
	</div>

	<div class="confirm" @onclick=@(() => {
		CreatorComponent.NextStage();
		CreatorOverlay.PlayUISound( "press" );
	})>
		CONFIRM
	</div>
</root>

@code {
	public const int DEFAULT_WEIGHT = 70;
	public const int DEFAULT_HEIGHT = 178;

	private static int _weight = DEFAULT_WEIGHT;
	private static int _height = DEFAULT_HEIGHT;
	private static readonly Color[] _skinColors = new[]
	{
		Color.White,
		Color.Gray,
		Color.FromBytes( 189, 137, 102 ),
		Color.FromBytes( 87, 64, 34 ),
		Color.Black
	};

	public static float Weight { get; set; }
	public static float Height { get; set; }
	public static Color SkinColor { get; set; } = _skinColors.FirstOrDefault();

	private SceneModel model;
	public SceneModel Model
	{
		get
		{
			if ( model != null )
				return model;

			return model = CreatorComponent.All[CreatorComponent.Current].GameObject
				.Components.Get<SkinnedModelRenderer>( FindMode.EverythingInDescendants )
				.SceneModel;
		}
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( _weight, _height, SkinColor );
	}
}
