@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<div @ref=_container class="container @(!IsInventoryScreen ? "hud" : "") @(!IsInventoryScreen && _timeUntilHidden ? "inactive" : "")">
		<div class="level-details">
			<text class="level">@($"Lv. {@Player.Local.Level}")</text>
			<text class="level-exp">@($"{Player.Local.Experience} / {Player.Local.ExpPerLevel} XP")</text>
		</div>
		<div class="exp-bar">
			<div class="progress" style="width: @( 100f * Player.Local.Experience / Player.Local.ExpPerLevel )%"/>
		</div>
	</div>
</root>


@code
{
	public bool IsInventoryScreen { get; set; }
	private Panel _container;
	private const float TIME_ON_SCREEN = 3;
	private TimeUntil _timeUntilHidden;

	protected override void OnAfterTreeRender( bool firstTime )
	{
		if (Player.Local is null)
			return;

		Player.Local.OnExperienceEarned -= OnExperienceEarned;
		Player.Local.OnLevelUp -= OnLevelUp;

		Player.Local.OnExperienceEarned += OnExperienceEarned;
		Player.Local.OnLevelUp += OnLevelUp;
	}

	// For some reason these need to be static due to some weird s&box bug?
	public static void OnExperienceEarned( int delta )
	{
		var expBar = InGameHud.Instance?.Descendants.OfType<ExperienceBar>().FirstOrDefault();
		if (expBar is null)
			return;

		expBar._timeUntilHidden = TIME_ON_SCREEN;
		var popupExp = new PopupText($"+{delta} XP");
		popupExp.Style.Right = Length.Pixels(0);
		popupExp.Style.Top = Length.Pixels(-40);
		popupExp.PlaySound("success");
		expBar._container.AddChild(popupExp);
	}

	public static void OnLevelUp( int newLevel )
	{
		var expBar = InGameHud.Instance?.Descendants.OfType<ExperienceBar>().FirstOrDefault();
		if (expBar is null)
			return;

		expBar._timeUntilHidden = TIME_ON_SCREEN;
		var popupLvl = new PopupText($"+1 LVL");
		popupLvl.Style.Left = Length.Pixels(5);
		popupLvl.Style.Top = Length.Pixels(-40);
		popupLvl.Style.FontFamily = "BasicHandwriting";
		popupLvl.PlaySound("lvlup");
		expBar._container.AddChild(popupLvl);
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( Player.Local.Experience, Player.Local.ExpPerLevel, (bool)_timeUntilHidden );
	}
}
