@using Sandbox;
@using Sandbox.UI;

@namespace Sauna
@inherits Panel
@attribute [StyleSheet]

<root>
	<div class="slot-container">
		@{
			var slots = Enum.GetValues<EquipSlot>();
			if ( clothes == null )
				LoadClothes();

			foreach ( var slot in slots )
			{
				if ( slot == EquipSlot.Hand )
					continue;

				<div class="equip-slot">
					<div class="title">
						<img src=@slot.GetIcon() />
						<div>@slot.ToString()</div>
						<div class="count">@(defaultClothes[slot].Count) / @(counts[slot])</div>
					</div>
					<div class="row">

						@* NONE *@
						<div class="slot @(selections[slot] == -1 ? "selected" : "")" @onclick=@( () => { selections[slot] = -1; UpdateSelection(); })>
							<div class="border" />
							<div class="background" />

							<img src="ui/hud/blocked.png" />
						</div>

						@for ( int i = 0; i < 4; i++ )
						{
							var clothing = clothes?[slot].ElementAtOrDefault( i );
							<div 
								class="slot @(selections[slot] == i ? "selected" : "") @(clothing == null ? "disabled" : "")" 
								onclick=@( () => { 
									selections[slot] = clothes[slot].IndexOf( clothing ); 
									UpdateSelection(); 
								})
							>
								<div class="border" />
								<div class="background" />

								@if ( clothing != null )
								{
									<img src=@(clothing.Get<IconSettings>( "Icon" ).Path) />
									<label class="equip">EQUIPPED</label>
								}
							</div>
						}
					</div>
				</div>
			}
		}
	</div>
</root>

@code {
	private static readonly Dictionary<EquipSlot, List<string>> defaultClothes = new()
	{
		[EquipSlot.Head] = new List<string>() { "prefabs/clothes/cap.prefab", "prefabs/clothes/flat_cap.prefab", "prefabs/clothes/beanie.prefab" },
		[EquipSlot.Face] = new List<string>() { "prefabs/clothes/glasses.prefab", "prefabs/clothes/round_glasses.prefab" },
		[EquipSlot.Body] = new List<string>() { "prefabs/clothes/hoodie_zipper.prefab", "prefabs/clothes/wifebeater.prefab", "prefabs/clothes/jumper.prefab", "prefabs/clothes/hoodie_pocket.prefab" },
		[EquipSlot.Legs] = new List<string>() { "prefabs/clothes/skinny_jeans.prefab", "prefabs/clothes/stripped_joggers.prefab", "prefabs/clothes/khakis.prefab", },
		[EquipSlot.Feet] = new List<string>() { "prefabs/clothes/wellington_boots.prefab", "prefabs/clothes/socks.prefab", "prefabs/clothes/sandals.prefab", },
	};

	private static Dictionary<EquipSlot, int> counts = new();
	private static Dictionary<EquipSlot, List<ComponentDefinition>> clothes;

	private static Dictionary<EquipSlot, int> selections;
	private static List<GameObject> clothingObjects = new();

	public static Dictionary<EquipSlot, string> GetSelections() 
		=> selections
			.Where( x => x.Value != -1 )
			.Select( x => (Slot: x.Key, Path: defaultClothes[x.Key][x.Value]) )
			.ToDictionary( x => x.Slot, x => x.Path );

	private void CreateClothing( Model model, string materialGroup = "", Color? color = null )
	{
		var obj = Scene.CreateObject();
		var renderer = obj.Components.Create<SkinnedModelRenderer>();
		renderer.Model = model;
		renderer.Tint = color ?? Color.White;
		renderer.Tint = renderer.Tint.WithAlpha(1);
		renderer.MaterialGroup = materialGroup;
		renderer.BoneMergeTarget = CreatorOverlay.Renderer;
		obj.Parent = CreatorOverlay.Renderer.GameObject;

		clothingObjects.Add( obj );
	}

	private void UpdateSelection()
	{
		PlaySound( "drop" );

		foreach ( var obj in clothingObjects )
			obj.Destroy();

		clothingObjects.Clear();

		var flags = HiddenBodyGroup.None;
		foreach ( var (slot, index) in selections )
		{
			if ( index == -1 )
				continue;

			var component = clothes[slot]?.ElementAtOrDefault( index );
			if ( component == null )
				continue;

			var icon = component.Get<IconSettings>( "Icon" );
			var model = Sandbox.Model.Load( icon.Model );
			CreateClothing( model, icon.MaterialGroup, icon.Colour );
			flags |= component.Get<HiddenBodyGroup>( "HideBodygroups" );
		}

		CreatorOverlay.Renderer.SetBodyGroup( "head", flags.HasFlag( HiddenBodyGroup.Head ) ? 1 : 0 );
		CreatorOverlay.Renderer.SetBodyGroup( "torso", flags.HasFlag( HiddenBodyGroup.Torso ) ? 1 : 0 );
		CreatorOverlay.Renderer.SetBodyGroup( "hands", flags.HasFlag( HiddenBodyGroup.Hands ) ? 1 : 0 );
		CreatorOverlay.Renderer.SetBodyGroup( "legs", flags.HasFlag( HiddenBodyGroup.Legs ) ? 1 : 0 );
		CreatorOverlay.Renderer.SetBodyGroup( "feet", flags.HasFlag( HiddenBodyGroup.Feet ) ? 1 : 0 );

		CreatorOverlay.Renderer.Set( "inspect", true );

		CreatorOverlay.Penoid.RenderingEnabled = selections[EquipSlot.Legs] == -1;
	}

	private void LoadClothes()
	{
		var values = Enum.GetValues<EquipSlot>();
		selections = values.ToDictionary( x => x, x => -1 );
		clothes = new();

		var all = PrefabLibrary.FindByComponent<ItemEquipment>();
		foreach ( var prefab in all )
		{
			var component = prefab.GetComponent<ItemEquipment>();
			if ( component == null )
				continue;

			var slot = component.Get<EquipSlot>( "Slot" );
			if ( counts.ContainsKey( slot ) ) counts[slot]++;
			else counts.Add( slot, 1 );
		}

		foreach ( var (slot, paths) in defaultClothes )
		{
			clothes.Add( slot, new() );
			foreach ( var path in paths )
			{
				if ( !ResourceLibrary.TryGet<PrefabFile>( path, out var prefab ) )
					continue;

				var definition = prefab.AsDefinition();
				var equipment = definition?.GetComponent<ItemEquipment>();
				if ( equipment == null )
					continue;

				clothes[slot].Add( equipment );
			}
		}
	}
}
