@namespace Sauna.UI
@attribute [StyleSheet]
@inherits Panel

<root>
	<img src="ui/hud/right.png" class="bg" />
	<div class="main">
		@if (Pinned is null)
		{

		}
		else
		{
			<div class="text-container">
				<div style="flex-direction: row-reverse">
					<div class="task-type @(Pinned.IsPrimary ? "primary" : "secondary")">
						@(Pinned.IsPrimary ? "PRIMARY TASK" : "SECONDARY TASK")
					</div>
				</div>

				<div style="flex-direction: row-reverse">
					<div class="task-title">
						@Pinned.Name
					</div>
				</div>

                <div style="flex-direction: row-reverse; gap: 8px;">
                    @if (Pinned.TimeLimited && !Pinned.TaskTimer && !Pinned.Completed)
                    {
                        <div class="task-timer">@(MathF.Round(Pinned.TimeLimitInSeconds - Pinned.TaskTimer.Passed)) seconds left...</div>
                    }
                </div>

				<div style="flex-direction: row-reverse; gap: 8px;">
					@if (Pinned.Completed)
					{
						@if (Pinned.Successful)
						{
							<div class="task-state completed">COMPLETED</div>
						}
						else
						{
							<div class="task-state failed">FAILED</div>
                        }
					}
					else
                    {
						<div class="subtasks">
							@foreach(var subtask in Pinned.ActiveSubtasks)
							{
								<div class="subtask">
									<div class="subtask-description">@subtask.Description (@subtask.CurrentAmount/@subtask.AmountToComplete)</div>
									<Checkbox Enabled=@(subtask.Completed) />
								</div>
							}
						</div>
                    }
				</div>
			</div>
		}
	</div>
</root>

@code {
	public static SaunaTask Pinned { get; private set; }

	public PrimaryTask()
	{
		// s&box doesn't reset statics between launches of the game, if we have pinned a task
		// that is no longer active, remove it. 
		if (Pinned is not null && !TaskMaster.ActiveTasks.Contains(Pinned))
			Pinned = null;
	}

	public static void PinTask(SaunaTask task)
	{
		Pinned = task;
	}

	protected override int BuildHash()
	{
		return HashCode.Combine
		( 
			Pinned?.ResourceId, 
			Pinned?.Completed,
			Pinned?.Successful,
            Pinned?.TaskTimer.Passed,
			Pinned?.OrderedSubtasks.HashCombine((subtask) => HashCode.Combine(subtask.CurrentAmount, subtask.Completed))
		);
	}
}
